name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          cache-key: dev
          cache-write:
            ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: dev

      - name: Run pre-commit
        run: pixi run pre-commit --hook-stage manual

      - name: Run PyLint
        run: pixi run pylint --output-format=github

  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          cache-key: dev
          cache-write:
            ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: dev

      - name: Build and check package
        run: pixi run build-check

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.13"]
        runs-on: [ubuntu-latest, windows-latest, macos-14]
        include:
          - python-version: "3.10"
            pixi-environment: py310
          - python-version: "3.11"
            pixi-environment: py311
          - python-version: "3.13"
            pixi-environment: py313
        exclude:
          - runs-on: windows-latest
            python-version: "3.10"

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          cache-key: ${{ matrix.pixi-environment }}
          cache-write:
            ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: ${{ matrix.pixi-environment }}

      - name: Test package
        run: >-
          pixi run -e ${{ matrix.pixi-environment }} test-all -ra --cov-branch
          --cov-report=xml --cov-report=term --junitxml=junit.xml -o
          junit_family=legacy --durations=20

      - name: Test docs
        if: matrix.python-version == '3.13'
        run: |
          pixi run -e ${{ matrix.pixi-environment }} test-docs
          pixi run -e ${{ matrix.pixi-environment }} test-docstrings

      - name: Upload coverage report
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
