name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --hook-stage manual --all-files
      - name: Run PyLint
        run: pixi run pylint --output-format=github

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.13"]
        runs-on: [ubuntu-latest, windows-latest, macos-14]
        include:
          - python-version: "3.10"
            pixi-environment: py310
          - python-version: "3.11"
            pixi-environment: py311
          - python-version: "3.13"
            pixi-environment: py313

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          environments: ${{ matrix.pixi-environment }}

      - name: Test package
        run: >-
          pixi run -e ${{ matrix.pixi-environment }} test-all -ra --cov-branch
          --cov-report=xml --cov-report=term --junitxml=junit.xml -o
          junit_family=legacy --durations=20

      - name: Test doctests in modules
        run: pixi run -e ${{ matrix.pixi-environment }} doctest

      - name: Test doctests in documentation
        if: matrix.python-version == '3.13'
        run: pixi run -e ${{ matrix.pixi-environment }} test README.rst docs

      - name: Upload coverage report
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
